{
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"printWidth": 120,
	"useTabs": true,
	"tabWidth": 4,
	"trailingComma": "all",
	"singleQuote": true,
	"semi": true,
	"importOrder": ["^@/(.*)$", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
